<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <script src="https://kit.fontawesome.com/6681bc69b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/" class="logo1"><i class="fa-regular fa-moon"></i></a>
        {% if header%}
        <h1>{{header}}</h1>
        {% else %}
        <h1>WELCOME</h1>
        {% endif %}
        <a href="/register" class="logo2"><i class="fa-regular fa-circle-half-stroke"></i></a>
    </header>
    <main>
        <div class="container">
            <div class="col">
                {% block content1 %}
                
                {% endblock %}
            </div>  
            

            {% block content2 %}

            {% endblock %}

        </div>
    </main>
    <footer>
        &copy; copyright by HuaJung 2022
    </footer>
    {% block script %}
    {% endblock %}

</body>
</html>