{% extends 'base.html' %}
{% from '_formhelpers.html' import formField %}

{%block title%} REGISTER {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <h2 class="mb-3 text-center"><i class="fa-solid fa-door-open"></i>  Register</h2>
        <form action="/register" method="POST">
            {{ form.csrf_token}}
            {{ formField(form.name, 'real name', autocomplete='off', autofocus=true) }}
            {{ formField(form.username, 'between 2-20 characters w/o any spaces') }}
            {{ formField(form.password, 'between 4-20 characters') }}
            {{ formField(form.confirm, 're-enter your password') }}
            <div class="mb-3">{{ form.recaptcha }}</div>
            <div class="text-center">
                {{ form.submit(class='btn btn-primary text-light') }}
            </div>
        </form>
    </div>
</div>
{% endblock %}