* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    font-size: 20px;
    padding-top: 53px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    position: fixed;  /*網頁下拉時header固定在表頭*/
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
}

#expand-toggle {
    display:none;
}
.navitem a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.navitem a:hover {
    color: rgb(136, 189, 235);
}
.banner {
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px; /*垂直置中*/
    margin-bottom: 40px;
}
h2 {
    display: inline-block; 
    /*設定vertical-align需有inline*/
    font-size: 2em;
    line-height: 1;  /*遇折行時1倍行高*/
    vertical-align: middle; /*折行時垂直置中*/
}
.container {
    width: 1200px;
    margin:auto;
    text-align: center;
}
.promotion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.banner, .promotion-item, .product-item, #load-more {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    
}
.promotion-item{
    display: flex;
    align-items: center;
    width: 49%;
}

.promotion-item img {
    width: 80px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    display: none;
}
.wrap:nth-child(1),
.wrap:nth-child(2) {
    display: flex;

}
.product-item {
    margin-bottom: 30px;
    width: 23.5%;

}
.product-item img {
    width: 280px;
    height: 224px;
    object-fit: cover;  /*裁切原始照片的大小以符合寬高*/
}
.product-item:hover {
    transform: scale(1.05);
}
.product-item h3 {
    height: 80px;   /*文字超過一行需要加高，一致高*/
    line-height: 1.5;  /*折行1.5倍高*/
    padding: 5px 20px;
}
#load-more {
    color: rgb(90, 88, 88);
    font-weight: bold;
    font-size: 15px;
    display: inline-block;  /*用div做button一定要用*/
    border: 1px solid rgb(191, 191, 214);
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;

}
#load-more:hover {
    background-color: #fff;
    color: rgb(136, 189, 235);
    border-color: aliceblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}


@media (max-width:1200px) {
    .container {
        width: 90%;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .product-item, .promotion-item {
        width: 48%;
    }
    .product-item img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .toggle-expand {
        display: block;
    }
    #expand-btn {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 10%;
        right:10px;
        transition: transform 1.5s;
    }
    #expand-btn::before {
        /*畫漢堡選單*/
        content: '';
        position: absolute;
        height: 3px;
        width: 33px;
        background-color: rgb(183, 183, 183);
        left: 6px;
        top:0;
        bottom:0;
        margin: auto;
        box-shadow: 0 9px 0px rgb(183, 183, 183),
                    0 -9px 0px rgb(183, 183, 183);
    }
    .navitem {
        position: absolute;
        background: #fff;
        /* transform: translate(0, -100%); */
        left: 0;
        right: 0;
        height: auto;
        max-height: 0%; /*點擊前先隱藏*/
        overflow: hidden; /*隱藏.navitem a 裡的文字&border-bottom*/
        top: 58px; /*距離header的高度，讓他從header下方滑出*/
        transition: ease 1.5s;
    }
    .navitem a {
        color:black;
        display: block;
        padding: 20px 20px;
        border-bottom: 1px solid rgb(171, 170, 170) ;
    }
    #expand-toggle:checked ~ .navitem{
        max-height: 300px; /*比navitem的高度還要大就好*/
    }
    #expand-toggle:checked ~ #expand-btn {
        transform: rotate(180deg);
    }
    #expand-btn:hover {
        border: 1px solid lightgray;
    }
    .promotion {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .promotion-item {
        width: 100%;
        margin-bottom:30px;
    }
    .product-item {
        width: 100%;
    }
    
}
